
@import "./_changeable.scss";
@import "./_templates.scss";


body{
    background-color:$color-bg-body;
}

// ================== header ============================

.conteiner {
    max-width: 92rem;
    padding: 0 1rem;
    margin: 0 auto;
    background: url(../images/img/bg\ left.svg) no-repeat 1rem 267rem;
}
.header {
    @extend %flex-center;
    justify-content: space-between;
    max-width: 82rem;
    margin: 3rem auto 0;

    &__nav-lists {
        display: flex;
        gap: 2rem;
    }

    &__nav-linc {
        @extend %text;
    }

    &__nav-adaptiv {
        display: none;
    }

    &__burger-menu {
        background: inherit;
    }

    &__nav-dropmenu {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background: gray;
        padding: 0 1rem;
        display: none;
    }
}

.nav {

    &__adaptiv-lists {
        display: flex;
    }

    &__adaptiv-list {
        cursor: pointer;
    }

    &__adaptiv-img {}
}


.dropmenu-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 2px solid black;
}

.dropmenu-btn {
    background: inherit;
}

.dropmenu-lists {
    margin: 1.5rem 2rem;
}

.dropmenu-list {
    margin-bottom: 2rem;
}

.dropmenu-link {
    font-size: 1.25rem;
    color: white;
}



// ============= main ====================================

.section {

    &__title {
        position: relative;
        margin: 7.5rem 0 0 5rem;
        z-index: 2;
    }

    &__title-subtitle {
        color: $color-title;
        font-family: $font-family2;
        font-size: 3rem;
        font-weight: 500;
        line-height: 3.75rem;
        font-style: italic;
    }

    &__title-title {
        color: $color-text;
        font-family: $font-family2;
        font-size: 5.4rem;
        line-height: 3.8rem;
        text-transform: uppercase;
        margin: 1rem 0 1.5rem 6.9rem;
        .section__title-subtitle {
            margin-left: 1.5rem;
            text-transform: lowercase;
        }
    }

    &__title-text {
        color: $color-text;
        font-family: $font-family1;
        font-size: 1.5rem;
        line-height: 1.88rem;
        text-transform: capitalize;
    }

    &__title-btn {
        width: 29rem;
        height: 3.9rem;
        border-radius: 0.94rem;
        background: $color-title;
        color: $color-text;
        font-family: $font-family1;
        font-size: 1.5rem;
        line-height: 1.88rem;
        margin-top: 2.6rem;
        @extend %btn-hover;
    }

    &__foto {
        position: relative;
    }

    &__foto-circle {
        position: absolute;
        left: 35rem;
        top: -8rem;
    }

    &__foto-flowers {
        position: absolute;
        left: 37rem;
        top: -19rem;
    }

    &__services {
        display: flex;
        justify-content: center;
        gap: 7.7rem;
        margin: 33rem auto 0;
    }

    &__service {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 14rem;
    }

    &__services-text {
        @extend %f1c1;
        line-height: 1.25rem;
        text-align: center;
        padding-top: 0.5rem;
    }
}


// =============== section__catalog ==================

.section {

    &__catalog {
        margin-top: 5.8rem;
        background: url(../images/img/annie-spratt-nP1EL_8dLc4-unsplash\ 1.png) no-repeat right -5rem;
        background-size: 52rem;}

    &__catalog-title {
        @extend %title;
        margin-left: 24rem;
    }

    &__catalog-division {
        border: $division;
        width: 33rem;
    }
}
.section__catalog-bg{
    position: absolute;
    z-index: -1;
    top: 70rem;
    right: 0;
}
.catalog {

    &__products-conteiner {
        max-width: 68rem;
        margin: 0 auto;
    }

    &__products-menu {
        margin-top: 6.3rem;
        border-radius: 0.94rem;
        background: $products-menu-bg;
    }

    &__products {
        text-align: center;
    }
    &__products-btn {
        border: 2px solid white;
        margin: 1rem 0;
        background: none;
        border-radius: 1rem;
        padding: 0.94rem 1.88rem 0.94rem 1.88rem;
        @extend %f1c1;
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 10%;
        text-transform: uppercase;
    }
}

.products {

    &__menu-title {
        color: $color;
        font-family: $font-family2;
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        padding: 0 1.6rem;
        border-radius: 0.94rem;
        background: $products-menu-bg;
    }

    &__menu-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1.3rem 1.3rem 1.3rem 0;
        position: relative;
    }

    &__menu-text {
        @extend %f1c1;
        font-size: 1.2rem;
    }

    &__menu-arrow {
        cursor: pointer;
        &:hover {
            transform: scale(1.3);
        }
    }

    &__dropmenu {
        display: none;
    }

    &__dropmenu-close {
        width: 1rem;
        margin: 1rem 0 0 85%;
        cursor: pointer;
        &:hover{
            transform: scale(1.3);
        }
    }

    &__dropmenu-form {
        padding: 1rem;
    }

    &__menu-vl {
        border: 0.06rem solid $menu-division;
        opacity: 0.1;
        margin-right: 1.3rem;
    }

    &__products-title {
        color: $color;
        font-family: $font-family2;
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        margin-top: 1rem;
        cursor: pointer;
    }

    &__block-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
    }

}

.dropmenu {

    &__form-input {
        display: none;
    }

    &__form-label {
        @extend %f1c1;
        font-size: 1.13rem;
        font-weight: 300;
        line-height: 1.44rem;
        text-align: left;
    }

    &__form-division {
        border: $division;
        opacity: 0.1;
        margin: 1rem 0 ;
    }

    &__form-btn {
        display: flex;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 0.31rem;
        background: $color-title;
        @extend %f1c1;
        font-size: 1rem;
        font-weight: 600;
        line-height: 2rem;
        padding:0.3rem 1rem;
        @extend %btn-hover;
    }
}
.dropmenu-activ{
    display: flex;
    flex-direction: column;
    border-radius: 0.94rem;
    background: $menu-activ;
    width: 110%;
    margin-top: 2rem;
    position: absolute;
    top: 2rem;
    left: -1rem;
}

.dropmenu__form-input+ label{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 0.06rem solid $color;
        border-radius: 0.25rem;
    }
}
.dropmenu__form-input:checked+label::before{
    content: "\2713";
    font-size: 16px;
    color: $color-title;
    text-align: center;
    line-height: 20px;
    border: 0.06rem solid $color-title;
}

.dropmenu__form-input:checked+label{
    color: $color-title;
}


.block {

    &__product-block {
        width: 100%;
        background: white;
        border-radius: 1rem;
    }

    &__product-foto {
        width: 100%;
    }

    &__product-img { 
        width: 100%;
        border-radius: 1rem;
    }

    &__product-like {
        margin: -19rem -15rem 0 0;
    }

    &__product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -25%;
    }

    &__product-promotion {
        display: none;
    }

    &__product-price {
        color: rgb(0, 0, 0);
        font-family:$font-family1;
        font-size: 2rem;
    }

    &__product-text {
        color: rgb(68, 68, 68);
        font-family: $font-family1;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.25rem;
        margin: 1.5rem;
    }

    &__product-hover {
        background: white;
        height: 0;
        overflow: hidden;
        transition: height 1s ease;
        border-radius: 0 0 1rem 1rem;
    }
}

.catalog__products {
    margin-top: 2rem;
}

.products__block-product:hover .block__product-block{
    border-radius: 1rem 1rem 0 0;
}


.block__product-wrapper{
    margin-top: 6rem;
}

.products__block-product:hover .block__product-hover {
    height: 100%;
}

.product {

    &__info-promotion {
        @extend %product-info;
        width: 6rem;
        background: $color-title;
    }

    &__info-activ {
        display: flex;
    }

    &__info-new {
        @extend %product-info;
        @extend %product-info-width;
        background: rgb(185, 106, 127);
    }

    &__info-water {
        @extend %product-info;
        @extend %product-info-width;
        background: rgb(85, 184, 255); 
    }

    &__promotion-text {
        @extend %promotion-text;
        background: $color-title;
        padding: 0.8rem;
        border-radius: 1.5rem;
        max-width: 15rem;
        margin:auto;
    }

    &__hover {
        background: $menu-activ;
    }

    &__hover-text {
        padding: 1rem 2rem 1rem 1rem;
        text-align: left;
        color: $color;
        font-family: $font-family1;
        font-size: 1.13rem;
        font-weight: 300;
        line-height: 1.44rem;
    }

    &__hover-input {
        display: flex;
        margin: 1.8rem 1rem;
    }

    &__hover-btn {
        width: 7rem;
        border-radius: 0.31rem;
        background: $color-title;
        @extend %f1c1;
        font-size: 1rem;
        font-weight: 600;
        line-height: 2rem;
        @extend %btn-hover;
    }
}


.hover__input-prev, .hover__input-next, .hover__input-quantity{
    display: flex;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gray;
    font-size: 2rem;
    align-items: center;
}

.hover {

    &__input-prev {
        border-radius: 5px 0 0 5px;
    }

    &__input-quantity {
        width: 3.5rem;
    }

    &__input-next {
        margin-right: 2rem;
        border-radius: 0 5px 5px 0;
    }
}



// ===================section__info=====================

.section {

    &__info {
        margin-top: 5.8rem;
    }

    &__info-title {
        @extend %title;
        text-align: right;
        margin-right: 12.6rem;
    }

    &__info-division {
        border: $division;
        width: 31rem;
        margin-left: 66%;
    }

    &__info-blocks {
        display: flex;
        flex-direction: column;
        max-width: 82rem;
        margin: 10.5rem auto;
        :nth-child(even){
            flex-direction: row-reverse;
            .section__info-discrition{
                margin-left: 0;
                margin-right: 9rem;
            }
        }
    }

    &__info-block {
        display: flex;
        align-items: center;
    }

    &__info-discrition {
        margin-left: 9rem;
    }
}


.info {

    &__block-img {
        width: 41.2rem;
    }

    &__discrition-title {
        @extend %f1c1;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    &__discrition-text {
        @extend %f1c1;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.56rem;
        margin-top: 1rem;
    }
}

.discrition {

    &__text-span {
        font-weight: bold;
    }
}


// ===================section__form==========================

.section {

    // .section__form

    &__form {
        margin-top: 5.8rem;
    }

    // .section__form-title

    &__form-title {
        @extend %title;
        margin-left: 4.3rem;
    }

    // .section__form-division

    &__form-division {
        border: $division;
        width: 51rem;
    }

    // .section__form-form

    &__form-form {
        margin-top: 8rem;
        display: flex;
        border-radius: 0.63rem;
        background: $color-form;
    }

    // .section__form-servis

    &__form-servis {   
        margin: 2.2rem  4.5rem 0 16rem;
        text-align: center;}

    // .section__form-popup

    &__form-popup {
        display: none;
        height: 36rem;
        background: $color-form;
        border-radius: 0.63rem;
        margin-top: 8rem;
    }
}


.form {

    // .form__input-block

    &__input-block {
        display: flex;
    }

    // .form__servis-title

    &__servis-title {
        @extend %f1c1;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }

    // .form__servis-lists

    &__servis-lists {
        text-align: left;
        margin-right: 4rem;
    }

    // .form__servis-list

    &__servis-list {
        display: flex;
        align-items: center;
        color: $color-servis-list;
        font-family: $font-family1;
        font-size: 1.3rem;
        line-height: 1.56rem;
        margin: 1rem;
        &::before{
            content:url('../images/logo/icon\ _checkmark\ outline_.png');
            display: block;
            margin-right: 2rem;
        }
    }

    // .form__popup-close

    &__popup-close {
        margin: 2rem 0 0 95%;
        color: $color-title;
        cursor: pointer;
    }

    // .form__popup-block

    &__popup-block {
        text-align: center;
        margin: 10rem 0 15.4rem 0;
    }

    // .form__popup-title

    &__popup-title {
        color: $color-title;
        font-family: $font-family2;
        font-size: 3rem;
        font-weight: 500;
        line-height: 3.8rem;
        font-style: italic;
    }

    // .form__popup-text

    &__popup-text {    
        @extend %f1c1;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
        margin: 2rem 0 1rem;
    }

    // .form__popup-division

    &__popup-division {
        display: inline-block;
        width: 84rem;
        border: 0.13rem solid $color-popup-division;
    }
}


.form-discription {
    display: flex;
    flex-direction: column;
    margin: 2.2rem 4.2rem;
    padding-left: 3.5rem;
}

.form-title {
    @extend %f1c1;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.form-input {
    width: 20rem;
    height: 4.3rem;
    margin-bottom: 2.8rem;
    border-radius: 0.94rem 0 0 0.94rem;
    background: $color;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.56rem;
    font-family: $font-family1;
    &::placeholder{
        color: $color-placeholder; 
    }
}

.form-division{
    @extend %flex-center;
    width: 6rem;
    height: 4.3rem;
    border-radius:0 0.94rem  0.94rem 0;
    border-left: 0.06rem solid $color-form-division;
    background: $color;
}

.form-btn {
    height: 3.9rem;
    border-radius: 0.94rem;
    box-shadow: $color-form-btn;
    background: $color-title;
    @extend %f1c1;
    font-size: 1.5rem;
    line-height: 1.88rem;
    margin-bottom: 4rem;
    @extend %btn-hover;
}

.show-popup {
    display: block;
}

.hide-form {
    display: none;
}

.input__error-name, .input__error-tel{
    padding: 0 0 0.5rem 0.5rem;
    color:$color-error-span ;
    display: none;
}
.form-error{
    border: 2px solid red;
    background:$color-error-bg;
}

// ===================section__clients==========================

.section {

    // .section__clients

    &__clients {
        margin-top: 8rem;
    }

    // .section__clients-title

    &__clients-title {
        @extend %title;
        text-align: right;
        margin-right: 14.6rem;
    }

    // .section__clients-division

    &__clients-division {
        border: $division;
        width: 30rem;
        margin-left: 67%;
    }

    // .section__clients-slider

    &__clients-slider {
        margin-top: 8.7rem;
        margin-bottom: 7.5rem;
    }
}


.clients {

    // .clients__slider-img

    &__slider-img {    
        width: 20rem;
        height: 22rem;
    }
}



.section__clients{
    position: relative;
}

.slider {
    position: relative;
    padding: 0 60px;
    margin-top: 1rem;
}

.slick-list {
    overflow: hidden;
    max-width: 82rem;
    margin: 0 auto;
}

.slick-track {
    display: flex;
    text-align: center;
}

.slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 4rem;
    height: 4rem;
}

.slick-next{
    top: 60%;
    background-color: inherit;
    background-image: url(../images/img/arrow\ left.svg);
}

.slick-prev {
    top: 62%;
    right: 0%;
    background-color: inherit;
    background-image: url(../images/img/arrow\ left.svg);
    transform: rotate(180deg);
}


// ===============footer===================================

.footer-division{
    border: $division;
    margin-bottom: 2.5rem;
}

.footer {

    // .footer__blocks

    &__blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    // .footer__block-logo

    &__block-logo {
        text-align: center;
    }

    // .footer__block-text

    &__block-text {
        color: rgb(245, 235, 235);
        font-family: Spline Sans;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.75rem;
        margin-bottom: 2rem
    }

    // .footer__block-adress

    &__block-adress {
        @extend %text;
        text-align: center;
    }

    // .footer__block-data

    &__block-data {
        margin-bottom: 1.5rem;
    }
}

.block {

    // .block__logo-sety

    &__logo-sety {
        display: flex;
        gap: 2.8rem;
    }
}

.block-nav-list {
    margin-bottom: 2rem;
}

.block-nav-linck {
    @extend %text;
}

@import "./_adaptiv.scss";
